<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">

        <div class="card" id="formulario-pergunta">
              <div class="card-header">
                <h3>Realizar pergunta</h3>
              </div>
              <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <br>
                    <input name="titulo" type="text" placeholder="Título" class="form-control">
                    <label>Descrição</label>
                    <br>
                    <textarea name="descricao" placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button type="submit" class="btn btn-primary" name="botao">Perguntar</button>      
                </form>
              </div>
        </div>

    </div>

</body>
<script>

    var titulo = document.querySelector('input[name=titulo]');
    var descricao = document.querySelector('textarea[name=descricao]');
    var botao = document.querySelector('button[name=botao]');

    botao.onclick = function() {
          if( titulo.value == "" || descricao.value == ""){
            alert("Preencha todos os campos corretamente");
            if(titulo.value == "")
              titulo.focus();
            if(descricao.value == "")
              descricao.focus();
            return false;
          }
    }
</script>

<%- include('partials/footer.ejs') %>
